* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}
body header {
  display: flex;
  width: 100%;
  height: 68px;
  gap: 0px;
  justify-content: center;
}
body header .conteneur-header-logo-nav {
  width: 100%;
  height: 68px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .nav-header {
  display: flex;
  width: 50%;
  height: 34px;
  gap: 57px;
  opacity: 0px;
  justify-content: flex-end;
}
body main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main .sectionTitre {
  width: 100%;
  height: auto;
}
body main .sectionTitre .zoneTitre {
  margin-bottom: 10px;
  width: 100%;
  max-height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
body main .sectionTitre .zoneTitre img {
  z-index: auto;
  width: 100%;
  height: 934px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: relative;
     object-position: relative;
  filter: brightness(50%);
}
body main .sectionTitre .zoneTitre h1 {
  display: flex;
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  height: auto;
  position: absolute;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  justify-content: center;
}
body main .gallery .cardLogement {
  width: 33%;
  height: 225px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  body {
    font-family: Montserrat;
    padding: auto;
  }
  main {
    margin: 20px;
  }
  main .zoneTitre {
    margin-bottom: 10px;
    width: 100%;
    max-height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }
  main .zoneTitre img {
    z-index: auto;
    width: 100%;
    height: 934px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    filter: brightness(50%);
  }
  main .zoneTitre h1 {
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: 225px;
    height: 48px;
    left: 40px;
    position: absolute;
    color: white;
  }
  main .gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  main .gallery .cardLogement {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
  }
  main .gallery .cardLogement .cardTitre {
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
    font-weight: 25.67px;
    text-align: left;
    z-index: 1;
    position: absolute;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  main .gallery .cardLogement img {
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 46.88px;
    flex-direction: column;
    margin-bottom: 10px;
    margin: 20px;
  }
  header .conteneur-header-logo-nav {
    width: 100%;
    height: 100%;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .conteneur-header-logo-nav .nav-header {
    width: 50%;
    height: 17px;
    gap: 26px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  header .conteneur-header-logo-nav .kasaLogo svg {
    width: 50%;
    display: flex;
  }
  footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  footer .kasaLogo {
    color: white;
  }
}/*# sourceMappingURL=index.css.map */