@mixin flexJustifyAlignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}
  

@media only screen and (min-width: 480px){
    body{
        font-family: Montserrat;
         
    header{ 
        display:flex;
        width: 100%;
        
        .conteneur-header-logo-nav{
            display: flex;
            padding: 20px;
            width: 100%;
            .kasaLogo{
                width: 50%;
                height: 63px;
            }
            .nav-header{
                display: flex;
                gap: 0;
                width: 50%;
                align-items: center;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    color: black;

                }
                
            }
        }
    }
    main{
        padding: 20px;
        display: flex;       
        flex-direction: column;
        .sectionTitre{
            height: 111px;
            margin-bottom: 20px;
            padding: 0;
        .zoneTitre{
            margin-bottom: 10px;          
            height: 100%;
            @include flexJustifyAlignCenter;
            border-radius: 8px;
            overflow: hidden;
            
        
        img{
            z-index: auto;
            width: 100%;
            height: 934px;
            object-fit: cover;
            object-position: center;
            filter: brightness(50%);
    
        }
        h1{
            z-index: 1;
            font-size: 24px;
            font-weight:700;
            line-height: 24px;
            position: absolute;
            color: white;
        }
    }}
        .gallery{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            .cardLogement{
                width: 100%;
                height: 255px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 20px;
                border-radius: 8px;
                overflow: hidden;
                .cardTitre{    
                    padding-bottom: 20px;
                    width: 45%;       
                    height: 20%;  
                    display: flex;
                    align-items: flex-end;
                    padding-left: 20px;

                    color: white;
                    font-size: 18px;
                    text-align: left;
                    z-index: 1;
                    position: absolute;
                    text-shadow:-1px -1px 0 black,  
                                1px -1px 0 black,
                                -1px 1px 0 black,
                                1px 1px 0 black;
                }
                img{
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px;
                    
                }
            }
        }
    }
    
}
    footer{
        background-color: black;
        color: white;
        width: 100%;
        height: 209px;
        @include flexJustifyAlignCenter;
        flex-direction: column;


            .kasaLogo {
                color: white;

                width: 210px;
                height: 68px
            }
        }   
       
}
@media (min-width: 992px) {   
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: auto;
        #root{
            max-width: 1240px;
        header{
            width: 100%;
            display: flex;

            .conteneur-header-logo-nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .kasaLogo{
                    display: flex;
                    width: 210px;
                    height: 64px;
                }
                .nav-header{
                    display: flex;
                    width: 50%;
                    gap: 20px;
                    justify-content: flex-end;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        main{
            .sectionTitre{
                padding: 20px;
                display: flex;       
                flex-direction: column;
                .zoneTitre{
                    width: 100%;
                    h1{
                        z-index: 1;
                        font-size: 24px;
                        font-weight:700;
                        line-height: 24px;
                        position: absolute;
                        color: white;
                    }
                    img{
                        z-index: auto;
                        width: 100%;
                        height: 934px;
                        object-fit: cover;
                        object-position: center;
                        filter: brightness(50%);
                    }
                }
            }
            .gallery{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                .cardLogement{
                    width: 30%;
                    height: 340px;
                    margin: 19px;
                    
                    .cardTitre{
                        width: 300px;
                    }
                    img{
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 8px;
                    }
                }
                
            }

        }
        footer{
            .kasaLogo{

            }
            .copyright{

            }
        }
    }  
} 
}