* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  body {
    font-family: Montserrat;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body header .conteneur-header-logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    width: 100%;
  }
  body header .conteneur-header-logo-nav .kasaLogo {
    width: 145px;
    height: 48px;
  }
  body header .conteneur-header-logo-nav .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body header .conteneur-header-logo-nav .nav-header a {
    text-decoration: none;
    color: black;
  }
  body #mainHome {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #mainHome #sectionTitre {
    height: 111px;
    margin-bottom: 20px;
    padding: 0;
  }
  body #mainHome #sectionTitre .zoneTitre {
    margin-bottom: 10px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }
  body #mainHome #sectionTitre .zoneTitre img {
    z-index: auto;
    width: 100%;
    height: 934px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  body #mainHome #sectionTitre .zoneTitre h1 {
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    color: white;
  }
  body #mainHome #gallery {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #mainHome #gallery .cardLogement {
    width: 100%;
    height: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  body #mainHome #gallery .cardLogement .cardTitre {
    padding-bottom: 20px;
    width: 45%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    text-align: left;
    z-index: 1;
    position: absolute;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  body #mainHome #gallery .cardLogement img {
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px;
  }
  body #mainHome #aProposCard {
    width: 100%;
  }
  body #mainHome #aProposCard img {
    width: 100%;
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    border-radius: 10px;
  }
  body #mainHome #aProaProposCollapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
  }
  body #mainHome #aProaProposCollapse button {
    width: 100%;
    color: white;
    background-color: #FF6060;
    border-radius: 5px;
    gap: 20px;
  }
  body #main404 {
    color: #FF6060;
    gap: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 113px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 113px;
    margin-bottom: 113px;
  }
  body #main404 .codeErreur {
    width: 198px;
    height: 99px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 96px;
    font-weight: 700;
    gap: 60px;
  }
  body #main404 .codeErreurDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    height: auto;
  }
  body #main404 a {
    color: black;
    font-weight: 500;
    font-size: 14px;
  }
  body #mainFicheLogement {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #mainFicheLogement #carrousel {
    width: 100%;
    height: 255px;
    position: relative;
  }
  body #mainFicheLogement #carrousel img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 10px;
  }
  body #mainFicheLogement #carrousel button {
    position: absolute;
    width: 24px;
    height: 255px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
  }
  body #mainFicheLogement #carrousel #carrouselPrevImg {
    left: 10px;
  }
  body #mainFicheLogement #carrousel #carrouselNextImg {
    right: 10px;
  }
  body #mainFicheLogement #titreEtLocalisation {
    max-width: 335px;
    max-height: 73px;
    margin-top: 80px;
  }
  body #mainFicheLogement #titreEtLocalisation h1 {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
  }
  body #mainFicheLogement #titreEtLocalisation p {
    font-weight: 500;
    font-size: 14px;
    color: #000;
  }
  body #mainFicheLogement #noteEtoile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  body #mainFicheLogement #noteEtoile #etoiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body #mainFicheLogement #noteEtoile #etoiles .filledStar {
    color: #FF6060;
    font-size: 24px;
    margin: 5px;
  }
  body #mainFicheLogement #noteEtoile #etoiles .emptyStar {
    color: #e3e3e3;
    font-size: 24px;
    margin: 5px;
  }
  body #mainFicheLogement #hostInfo img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }
  body #mainFicheLogement #infoTags #tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  body #mainFicheLogement #infoTags #tags span {
    background-color: #FF6060;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    padding: 3px 25px 3px 25px;
  }
  body #mainFicheLogement #descriptionEquipementLogement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  body #mainFicheLogement #descriptionEquipementLogement .collapseSection .collapseHeader {
    width: 100%;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #mainFicheLogement #descriptionEquipementLogement .collapseSection .collapseHeader span {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 209px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .kasaLogo {
    color: white;
    width: 210px;
    height: 68px;
  }
}
@media (min-width: 992px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }
  body #root {
    max-width: 1240px;
  }
  body #root header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body #root header .conteneur-header-logo-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #root header .conteneur-header-logo-nav .kasaLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 210px;
    height: 64px;
  }
  body #root header .conteneur-header-logo-nav .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    gap: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body #root header .conteneur-header-logo-nav .nav-header a {
    text-decoration: none;
    color: black;
  }
  body #root main .sectionTitre {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #root main .sectionTitre .zoneTitre {
    width: 100%;
  }
  body #root main .sectionTitre .zoneTitre h1 {
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    color: white;
  }
  body #root main .sectionTitre .zoneTitre img {
    z-index: auto;
    width: 100%;
    height: 934px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  body #root main .gallery {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #root main .gallery .cardLogement {
    width: 30%;
    height: 340px;
    margin: 19px;
  }
  body #root main .gallery .cardLogement .cardTitre {
    width: 300px;
  }
  body #root main .gallery .cardLogement img {
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px;
  }
}/*# sourceMappingURL=index.css.map */