@media only screen and (min-width : 480px){
    body{
        font-family: Montserrat;
         
    header{ 
        display:flex;
        width: 100%;
        
        .conteneur-header-logo-nav{
            display: flex;
            padding: 20px;
            width: 100%;
            .kasaLogo{
                width: 50%;
                height: 63px;
            }
            .nav-header{
                display: flex;
                gap: 0;
                width: 50%;
                align-items: center;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    color: black;

                }
                
            }
        }
    }
    #carrousel{
        
        #carrouselImg{
            width: 335px;
            height: 255px;
        }


    }
}
}
